.header_container {
	width: 100vw;
  height: 80px;
  background: snow;
}

.header {
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:active, a:hover {
  color: red;
}

nav {
  width: 100%;
  margin-right: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0 0.5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 40px;
  text-transform: uppercase;
}

