<div class="con-cards-1 con-cards">
  <div class="card">
    <div class="con-image" routerLink="/product/{{ product.id }}">
      <img class="img" src="{{ product.url }}" alt="{{ product.name }}" />
    </div>

    <div class="con-text">
      <h3>
        {{ product.name }}
      </h3>
      <p>
        {{ product.description }}
      </p>
      <p class="con-price">{{ product.price | currency }}</p>
    </div>
    <div class="product-card_form">
      <form #productForm="ngForm" (ngSubmit)="added.emit({ product: product, quantity: quantity })">
        <div class="input-container">
          <label for="quantity">Quantity:</label>
          <input type="number" [(ngModel)]="quantity" name="quantity" class="select-input" required min="1" placeholder="1" />
        </div>
        <div class="con-btn">
          <Button type="submit" [disabled]="productForm.invalid" class="add"> Add to cart </Button>
        </div>
      </form>
    </div>
  </div>
</div>
