<div class="con-cards-1 con-cards">
  <div class="card">
    <div class="con-image" routerLink="/product/{{ product.id }}">
      <img class="img" src="{{ product.url }}" alt="{{ product.name }}" />
    </div>

    <div class="con-text">
      <h3>
        {{ product.name }}
      </h3>
      <p>
        {{ product.description }}
      </p>
      <p class="con-price">${{ product.price }}</p>
    </div>
    <div class="product-card_form">
      <div class="input-container">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" class="select-input" required min="1" placeholder="1" />
      </div>
      <div class="con-btn">
        <Button onclick="handleAdd(event)" class="add"> Add to cart </Button>
      </div>
    </div>
  </div>
</div>
