<div class="card-container">
  <div class="card">
    <div class="card-image-container" routerLink="/product/{{ product.id }}">
      <img class="img" src="{{ product.url }}" alt="{{ product.name }}" />
    </div>

    <div class="card-text-container">
      <h3>
        {{ product.name }}
      </h3>
      <p>
        {{ product.description }}
      </p>
      <p class="price-container">{{ product.price | currency }}</p>
    </div>
    <div class="product-card_form">
      <form #productForm="ngForm" (ngSubmit)="added.emit({ product: product, quantity: quantity })">
        <div class="input-container">
          <label for="quantity">Quantity:</label>
          <input type="number" [(ngModel)]="quantity" name="quantity" required min="1" placeholder="1" />
        </div>
        <Button type="submit" [disabled]="productForm.invalid" class="add-button"> Add to cart </Button>
      </form>
    </div>
  </div>
</div>
