<header *ngIf="!items.length" class="empty-cart-message">
  <h1>Cart Is Empty!</h1>
  <a routerLink="/products" class="goback-button">Go Back to products page</a>
</header>

<div *ngIf="items.length" class="cart-container">
  <div class="cart-panel">
    <form #cartform="ngForm" class="form-margin" (ngSubmit)="onSubmit(order.fullName, order.address, order.creditCard, items, total)">
      <label> Full Name:</label>
      <input [(ngModel)]="order.fullName" type="text" name="fullName" placeholder="(minimum 3 characters)" required minlength="3" />
      <label> Address:</label>
      <input [(ngModel)]="order.address" type="text" name="address" placeholder="(minimum 6 characters)" required minlength="6" />
      <label> Credit Card Number:</label>
      <input
        [(ngModel)]="order.creditCard"
        type="text"
        pattern="\d*"
        name="creditCard"
        placeholder="16-digit number"
        required
        minlength="16"
        maxlength="16"
      />
      <button type="submit" class="submit-button" [disabled]="cartform.invalid">Pay now ({{ total | currency }})</button>
    </form>
    <a routerLink="/products" class="goback-button">Go Back to products page</a>
  </div>
  <div class="total">
    <p>Total: {{ total | currency }}</p>
  </div>
  <div class="cart-item">
    <div class="cart-item-details">
      <ul *ngFor="let cartItem of items">
        <img src="{{ cartItem.product.url }}" class="img" />

        <li>{{ cartItem.product.name }}</li>
        <li>{{ cartItem.product.price | currency }}</li>
        <input [(ngModel)]="cartItem.quantity" (ngModelChange)="onChange(cartItem)" type="number" class="number-input" required min="0" />
      </ul>
    </div>
  </div>
</div>
