.add {
  width: 100%;
  padding: 15px;
  background: #131318;
  border: 0px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.add:hover {
  background: #2020dd;
}

.add:disabled,
.add[disabled] {
  background-color: #454547;
  cursor: not-allowed;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.select-input {
  height: 30px;
  width: 40px;
  margin-left: 16px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  height: 500px;
}

.products-details-container {
  display: flex;
  height: 100%;
  min-width: 350px;
  max-width: 350px;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

.goback-button {
  display: block;
  margin-top: 20px;
}
