<div *ngIf="product.name" class="details-container">
  <div class="product-image-container">
    <img class="img" src="{{ product.url }}" alt="{{ product.name }}" />
  </div>

  <div class="products-details-container">
    <h3>
      {{ product.name }}
    </h3>
    <p>
      {{ product.description }}
    </p>
    <p>{{ product.price | currency }}</p>
    <form #detailForm="ngForm" (ngSubmit)="onSubmit(product, cartItem.quantity)">
      <div class="input-container">
        <label for="quantity">Quantity:</label>
        <input type="number" [(ngModel)]="cartItem.quantity" name="quantity" required min="1" placeholder="1" />
      </div>
      <div class="con-btn">
        <Button onclick="handleAdd(event)" [disabled]="detailForm.invalid" class="add"> Add to cart </Button>
      </div>
      <a routerLink="/products" class="goback-button">Go Back to products page</a>
    </form>
  </div>
</div>
<div *ngIf="!product.name" class="notfound-container">
  <h3>Product not found =(</h3>
  <a routerLink="/products" class="goback-button">Go Back to products page</a>
</div>
